version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=recipe_app
      - DB_USER=string
      - DB_PASS=string
      - DEBUG=1
    depends_on:
      - db
  db:
    image: postgres:16-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=recipe_app
      - POSTGRES_USER=string
      - POSTGRES_PASSWORD=string

volumes:
  dev-db-data:
  dev-static-data: